/* style.css */

/* General styles */
:root {
    --primary-color: #1966C0;
    --secondary-color: #1966C0;
    --background-color: #f4f4f4;
    --text-color: #333;
    --font-family: 'Inter', sans-serif;
  }
  
  body {
    margin: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Header styles */
  header {
    padding: 20px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
  }
  
  header h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  /* Footer styles */
  footer {
    padding: 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
  }
  
  /* Form container styles */
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  /* Button styles */
  button {
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 1em;
    font-weight: 500;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px 0;
  }
  
  button:hover {
    background-color: var(--secondary-color);
  }
  
  button:focus,
  button:focus-visible {
    outline: none;
  }
  