:root {
  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --background-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  min-width: 320px;
  min-height: 100vh;
}

header {
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

header h1 {
  font-size: 2.5em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover {
  color: var(--secondary-color);
}

footer {
  padding: 20px;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--secondary-color);
}

button:focus,
button:focus-visible {
  outline: none;
}
